<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @design.title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <!-- Product Image & Available Colors -->
      <div class="col-sm-6">
        <div class="product-image-large">
          <img src="<%= @design.image %>" alt="Item Name">

        </div>
        <div class="colors">
          <span class="color-white"></span>
          <span class="color-black"></span>
          <span class="color-blue"></span>
          <span class="color-orange"></span>
          <span class="color-green"></span>
        </div>
      </div>

      <div class="col-sm-6 product-details">
        <p><strong>Tecnica: </strong><%= @design.technic %></p>
        <p><strong>Dimension: </strong><%= @design.dimentions %></p>
        <p><strong>Anno: </strong><%= @design.year %></p>
      </div>
    </div>
  </div>
</div>
