<section id="main-slider" class="no-margin">
  <div class="carousel slide">

    <div class="carousel-inner">
      <% @slides.each_with_index  do |slide, index| %>
         <%= render 'slides/form', :slide => slide, :active => index == 0, :center => index.odd?  %>
      <% end  %>

    </div><!--/.carousel-inner-->
  </div><!--/.carousel-->
  <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
    <i class="icon-angle-left"></i>
  </a>
  <a class="next hidden-xs" href="#main-slider" data-slide="next">
    <i class="icon-angle-right"></i>
  </a>
</section><!--/#main-slider-->


<!-- Black Bar -->
<div class="section section-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="calltoaction-wrapper">
          <h3><%= t('home.welcome_html') %></h3>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<!--Services-->
<div class="section section-white">
  <div class="container">
    <div class="section-title">
      <h1><%= t('home.services.title') %></h1>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <i class="icon-home"></i>
          <h3><%= t('home.services.home_works.title') %></h3>
          <p><%= t('home.services.home_works.text') %></p>
          <!--<a href="#" class="btn">Read more</a>-->
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <i class="icon-briefcase"></i>
          <h3><%= t('home.services.works.title') %></h3>
          <p><%= t('home.services.works.text') %></p>
          <!--<a href="#" class="btn">Read more</a>-->
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
          <i class="icon-calendar"></i>
          <h3><%= t('home.services.date.title') %></h3>
          <p><%= t('home.services.date.text') %></p>
          <!--<a href="#" class="btn">Read more</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- Recent Work -->

<div class="section section-white">
  <div class="container">
    <div class="row">

      <div class="section-title">
        <h1><%= t('home.recent_works') %></h1>
      </div>
      <hr>


      <ul class="grid cs-style-3">
                <!-- Painting -->
        <% @element.each do |element| %>
            <% image = element.image.url(:card)%>
            <%= render '/recent_works', :image => image, :element => element %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
