<p id="notice"><%= notice %></p>

<h1>Listing Scultures</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Technic</th>
      <th>Dimentions</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scultures.each do |sculture| %>
      <tr>
        <td><%= sculture.title %></td>
        <td><%= sculture.technic %></td>
        <td><%= sculture.dimentions %></td>
        <td><%= sculture.year %></td>
        <td><%= link_to 'Show', sculture %></td>
        <td><%= link_to 'Edit', edit_sculture_path(sculture) %></td>
        <td><%= link_to 'Destroy', sculture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sculture', new_sculture_path %>
