<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @draw.title %></h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <!-- Product Image & Available Colors -->
      <div class="col-sm-6">
        <div class="product-image-large">
          <img src="<%= @draw.image %>" alt="Item Name">

        </div>
        <div class="colors">
          <span class="color-white"></span>
          <span class="color-black"></span>
          <span class="color-blue"></span>
          <span class="color-orange"></span>
          <span class="color-green"></span>
        </div>
      </div>

      <div class="col-sm-6 product-details">
        <p><strong><%= t('piece.technic') %>: </strong><%= @draw.technic %></p>
        <p><strong><%= t('piece.dimention') %>: </strong><%= @draw.dimentions %></p>
        <p><strong><%= t('piece.year') %>: </strong><%= @draw.year %></p>
      </div>
    </div>
  </div>
</div>