<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Sobre Mi</h1>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag 'img/about/03 Yoe Riba (haciendo arte en vivo en Stgo de Cuba).jpg' %>
      </div>
      <div class="col-sm-8">
        <center><h3>Yoesdanys Rivero Batista (Yoe Riba) (Cuba 1983-)</h3></center>
        <center><h4>Diseñador y Artista Visual.</h4></center>
        <p>
          Ha realizado diez cursos de Artes Visuales y Diseño, promoción, valoración y comercialización en
          varias provincias del País.
        </p>
        <p>
          Ha realizado 4 exposiciones personales, 4 bipersonales y ha participado además en más de 35
          exposiciones colectivas, entre Salones Internaciones, Nacionales, y otras exposiciones realizadas en
          varias provincias.
        </p>
        <p>
          Diseñador y editor de varios boletines de arte, logos de negocios privados, carteles de eventos y
          catálogos de productos y servicios.
        </p>
        <p>
          Ha realizado numerosos montajes, curadurías y organizaciones de exposiciones y salones de arte
          por los que ha recibido Reconocimientos.
        </p>
        <p>
          Cuenta en su currículum con la realización de varias donaciones a personalidades e intituciones y
          organizaciones, e impartido dos conferencias sobre artesanía.
        </p>
        <p>
          Fue miembro de varios proyectos comunitarios de arte como MANYLLO GAV, VIVIART, Sueños y
          Fantasías; y fue miembro de varios jurados de arte y moda.
        </p>
        <p>
          Su obra se encuentra en colecciones privadas de países como Francia, Suiza, Venezuela, EUA,
          Cuba, España, Angola, Italia y Australia.
        </p>




        <div class="clients-logo-wrapper text-center row">
          <br>
          Miembro de:
          <div>
            <%= image_tag 'img/about/logos/logo_acaa.jpg' %>
            <%= image_tag 'img/about/logos/Registro Nacional de Diseño.jpg' %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="section">
  <div class="container">
    <div class="row">
      <!-- Team Member -->
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <!-- Team Member Photo -->
          <div class="team-member-image"><%= image_tag 'img/about/01 Yoe Riba (Body art en Desfile Inaugural 32 Festival del Caribe).JPG' %></div>
          <div class="team-member-info">
            <ul>
              <!-- Team Member Info & Social Links -->
              <li class="team-member-name">
                Yoe Riba
              </li>
              <li>Desfile Inaugural 32 Festival del Caribe.</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Team Member -->
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <div class="team-member-image"><%= image_tag 'img/about/02 Yoe Riba (escultura barro).JPG' %></div>
          <div class="team-member-info">
            <ul>
              <li class="team-member-name">
                Yoe Riba
							</li>
              <li>
                Escultura de Barro.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="team-member">
          <div class="team-member-image"><%= image_tag 'img/about/04 Yoe Riba (restaurando puerta de 193X.jpg' %></div>
          <div class="team-member-info">
            <ul>
              <li class="team-member-name">
                Yoe Riba
              </li>
              <li>Restaurando Puerta de 193X</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="section">
  <div class="container">
    <div class="row">
      <!-- Featured News -->
      <div class="col-sm-6 featured-news">
        <h2>Latest Blog Posts</h2>
        <div class="row">
          <div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/1.jpg" alt="Post Title"></a></div>
          <div class="col-xs-8">
            <div class="caption"><a href="blog-post.html">Lorem ipsum dolor sit amet</a></div>
            <div class="date">14 August 2014 </div>
            <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="blog-post.html">Read more...</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/2.jpg" alt="Post Title"></a></div>
          <div class="col-xs-8">
            <div class="caption"><a href="blog-post.html">Sed ut perspiciatis unde omnis</a></div>
            <div class="date">23 June 2014 </div>
            <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="blog-post.html">Read more...</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4"><a href="blog-post.html"><img src="img/blog/3.jpg" alt="Post Title"></a></div>
          <div class="col-xs-8">
            <div class="caption"><a href="blog-post.html"> Neque porro quisquam est</a></div>
            <div class="date">21 April 2014 </div>
            <div class="intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="blog-post.html">Read more...</a></div>
          </div>
        </div>
      </div>
      <!-- End Featured News -->
      <!-- Latest News -->
      <div class="col-sm-6 latest-news">
        <h2>Latest News</h2>
        <div class="row">
          <div class="col-sm-12">
            <div class="caption"><a href="full-width.html">Donec elementum mi vitae enim fermentum lobortis.</a></div>
            <div class="date">16 May 2013 </div>
            <div class="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. <a href="full-width.html">Read more...</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="caption"><a href="full-width.html">In hac habitasse platea dictumst.</a></div>
            <div class="date">14 May 2013 </div>
            <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="caption"><a href="full-width.html"> Nam condimentum laoreet sagittis.</a></div>
            <div class="date">14 May 2013 </div>
            <div class="intro">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="full-width.html">Read more...</a></div>
          </div>
        </div>
      </div>
      <!-- End Featured News -->
    </div>
  </div>
</div>
